# Pandas Objects

In [2]:
import numpy as np
import pandas as pd

## The Series Object

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

The Series object wraps a sequence of values and a sequence of indices. The Series object is much more flexible that the one-dimensional NumPy array.

## Series as generalised NumPy array

A numpy array has an implicitly defined axis, whereas a pandas Series has an explicity defined axis.

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data['b']

0.5

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index = [2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [13]:
data[5]

0.5

## Series as specialised dictionary

A dictionary maps arbitrary keys to a set of arbitrary values, and a Series maps typed keys to a set of typed values. The type is import - think back to why a np.array is much faster than a python list. The Series-as-dictionary becomes very clear when:

In [17]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [18]:
population['California']

38332521

On top of this, it can perform slicing, which a normal dictionary can't do - sometimes it can help to sort the index in this case.

In [20]:
population_sorted = pd.Series(population_dict).sort_index()
population_sorted

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [21]:
population_sorted['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

## Constructing Series objects

All the constructions take the form: <br><br>
> pd.Series(data, index=index)

where index is an optional argument, and data can be many things.

data can be a list or array, where index defaults to integer seq:

In [24]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

data can be a scalar, which is repeated to fill the index:

In [25]:
pd.Series(5, [100, 200, 300])

100    5
200    5
300    5
dtype: int64

data can be a dictionary, where index is the keys

In [27]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [28]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

## The DataFrame Object

<h3> DataFrame as a generalised NumPy array </h3>

DataFrame is an analogue to a two-dim array with flexible row indices **and** flexible column indices.

In [29]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [32]:
states = pd.DataFrame({'population':population, 'area': area})
states.sort_index()  # we do this so it matches the book

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

In [33]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [34]:
states.columns

Index(['population', 'area'], dtype='object')

<h3> DataFrame as a specialised dictionary </h3>

Where a dict matches a key to a value, a DF mathces a column name to a series of column data.

In [37]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [38]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

## Constructing DataFrames

### From a Series object

A DataFrame is a collection of Series objects, and a single col. DF can be made from just a Series:

In [40]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

### From a list of dicts

In [41]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [42]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 3}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  3.0

### From a dictionary of Series objects

In [44]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### From a two-dimensional NumPy array

In [45]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.960376  0.011350
b  0.742590  0.144531
c  0.974905  0.523491

### From a NumPy structured array

In [46]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [47]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Index Object

The Index object can be thought of as an **immutable array**, or as an **ordered set** (multi-set, since it can contain repeated values.)

In [48]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as an immutable array

In [49]:
ind[1]

3

In [50]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [51]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

They are immutable:

In [52]:
ind[1] = 0

TypeError: Index does not support mutable operations

### Index as an ordered set

In [53]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [57]:
indA & indB     # intersection

Int64Index([3, 5, 7], dtype='int64')

In [58]:
indA | indB     # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [59]:
indA ^ indB     # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')